%script{src: "/assets/blueimp-file-upload/jquery.fileupload-process.js"}
%script{src: "/assets/blueimp-file-upload/jquery.fileupload-image.js"}
%script{src: "/assets/blueimp-file-upload/jquery.fileupload-ui.js"}

.container
  %h1
    New Task
  .row
    = form_for @task do |f|
      .col-md-4
        = f.label :title
        = f.text_field :title, class: "form-control"
        = f.label :description
        = f.text_field :description, class: "form-control"
        %br
        = f.label :attachments
        %br
  .row
    .col-md-6
      .buttonbar
        %span.btn.btn-success.btn-file
          %span.glyphicon.glyphicon-plus
          Add Files...
          %input#fileupload{"data-url" => "/attachments", multiple: "multiple", name: "files[]", type: "file", method: "post" }
        %span.btn.btn-primary.start{type: "submit"}
          %span.glyphicon.glyphicon-upload
          Start upload
        %span.btn.btn-warning.cancel{type: "reset"}
          %span.glyphicon.glyphicon-ban-circle
          Cancel Upload
        %span.btn.btn-danger.delete{type: "button"}
          %span.glyphicon.glyphicon-trash
          Delete
        %label.checkbox-inline
          %input.delete-toggle{type: "checkbox"}/
          Select All
      %br
      %br
  .row
    .col-md-6
      %table.table.table-striped
        %tbody.files

      = render "attachments/template_download"
      = render "attachments/template_upload"

  .row
    .col-md-4
      %br
      = content_tag :button, "Add Task", type: :submit, class: "btn btn-primary"
